
img.logo {
    box-align: center;
}

footer.bajo {
    background-color: cyan ;
}

tr.enlace {
    border: powderblue 6px solid ;
    background-color: lightyellow;
}

h5.titulo {
    color: blue ;
}