
img.logo {
    align-items: center;
}

footer.bajo {
    background-color: cyan ;
}

table.enlace {
    border: powderblue 2px solid ;
    background-color: lightyellow;
    border: 1;
}

h5.titulo {
    color: blue ;
}